<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <p>
      hello! {{ user }}
    </p>
    <br>

    <p>
      count list▽
    </p>
    <br>


    <form action="" method="post">
      <br>
      <p>業種名</p>
      <select name="job">
        {% for i in range(length) %}
        <option value="{{ en[i] }}">{{ jp[i] }}</option>
        <br>
        {% endfor %}
      </select>
      <br><br>

      <p>県名</p>
      <select name="place">
        {% for p in pp %}
        <option value="{{ p }}">{{ p }}</option>
        <br>
        {% endfor %}
        <option value="全国">全国</option>
        <br>
      </select>

      <br><br><br><br>
      <button type="submit" class="btn btn-primary btn-block">count list</button>

    </form>
<br><br><br>

    <a href="/line/command">back</a>
<br><br><br>


  </center>
</body>

</html>
