<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <p>
      hello! {{ user }}
    </p>
    <br>

    <p>
      collect list▽
    </p>
    <br>

    {% if status == 'free' %}

    <form action="" method="post">
      <br>
      <p>業種名</p>
      <select name="job">
        {% for i in range(length) %}
        <option value="{{ en[i] }}">{{ jp[i] }}</option>
        <br>
        {% endfor %}
      </select>
      <br><br>

      <p>県名</p>
      <select name="place">
        {% for p in pp %}
        <option value="{{ p }}">{{ p }}</option>
        <br>
        {% endfor %}
      </select>
      <br><br>
      <p>細かい住所</p><br>
      <input type="text" placeholder="港区" name="detail">


      <br><br><br><br>
      <button type="submit" class="btn btn-primary btn-block">collect list</button>

    </form>
    <br><br><br>



    {% elif status == 'using' %}
    <p>現在サーバー使用中です　しばらくお待ちください</p>

    {% else %}
    <p>不明なエラー　運営にお問い合わせください</p>


    {% endif %}
    <br><br>
    <a href="/line/command">back</a>
    <br><br><br>

  </center>
</body>

</html>
