<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <p>
      hello! {{ user }}
    </p>
    <br>

    <p>
      collect list▽
    </p>
    <br>


    <form action="" method="post">
      <br>
      <p>table名</p>
      <input type="text" placeholder="beautysaron" name="en">
      <br><br>
      <p>業種名</p>
      <input type="text" placeholder="美容室" name="ja">
      <br><br>
      <button type="submit" class="btn btn-primary btn-block">scraping start</button>

    </form>
<br><br><br>

    <a href="/line/command">back</a>


  </center>
</body>

</html>
