<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <p>
      hello! {{ screen_name }}
    </p>
    <br><br>

    <a href="/line/command/check">check list</a>

    <br><br>

    <a href="/line/command/collect">collect list</a>


    <br><br>

    <a href="/line/command/add">add</a>

    <br><br>

    <a href="/line/command/send">send</a>

    <br><br><br><br><br><br><br>



    <a href="/line">back</a>


  </center>
</body>

</html>
