<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <br><br><br><br><br><br>
    <form action="" method="post">
      <br>
      <p>削除するメッセージを選んでください</p>
      <p>タイトル / 内容</p>
      <select name="title">
        {% for i in range(length_m) %}
        <option value="{{ title[i] }}">{{ title[i] }}     /    {{ messege[i] }}</option>
        <br>
        {% endfor %}
      </select>


      <br><br><br><br><br><br><br><br><br><br>
      <button type="submit" class="btn btn-primary btn-block">delete messege</button>

    </form>
    <br><br><br>

        <a href="/line/command">back</a>

  </center>
</body>

</html>
