<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <center>
    <br><br><br><br><br><br>
    <p>instagram </p>
    <br><br><br><br>

    <form action="" method="post">
      <p>あなたの名前(neoneet_aiに授けられた名前)</p>
      <input type="text" placeholder="yourname" name="yourname" required>
      <br><br>
      <p>自分のアカウントと属性が似ているアカウント</p>
      <input type="text" placeholder="accountID" name="accountID" required>
      <br><br>
      <p>パスワード</p>
      <input type="text" placeholder="PASS" name="PASS" required>
      <br><br>

      <button type="submit" class="btn btn-primary btn-block">OK</button>

      <br><br><br><br>
      <a href="/">back</a>

    </form>





  </center>
</body>
</html>
