<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <p>
      hello! {{ user }}
    </p>
    <br>

    <p>
      make messege▽
    </p>
    <br>


    <form action="" method="post">
      <br>
      <p>業種名</p>
      <select name="job">
        {% for i in range(length) %}
        <option value="{{ en[i] }}">{{ jp[i] }}</option>
        <br>
        {% endfor %}
      </select>
      <br><br>
      <p>タイトル</p><br>
  <input type="text" placeholder="美容院　関東 丁寧" name="title" required>
  <br><br>
      <p>送信する文章</p>
      <br>
      <textarea rows="10" cols="60" name="messege" required>
{store}様
{place}にある{job}にメッセージを送信しています

本文開始、、、

      </textarea>
      <br><br>
      <p>店名 = {store}</p>
      <p>県名 = {place}</p>
      <p>業種 = {job}</p>

      <br><br>
      <button type="submit" class="btn btn-primary btn-block">add template</button>

<br><br>
    </form>
<br><br><br>

    <a href="/line/command">back</a>
<br><br><br>

  </center>
</body>

</html>
