<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <p>
      hello! {{ user }}
    </p>
    <br>

    <p>
      send request▽
    </p>
    <br>


    <form action="" method="post">
      <br>
      <p>運営へのメッセージ</p>
      <br>
      <textarea rows="10" cols="60" name="messege"  required></textarea>

      <br><br>
      <p>例：居酒屋という業種を追加してほしいです</p>
      <br>
      <p>例：こういう機能が欲しいです</p>
      <br><br>
      <button type="submit" class="btn btn-primary btn-block">send request</button>

<br><br>
    </form>
<br><br><br>

    <a href="/line/command">back</a>
<br><br><br>

  </center>
</body>

</html>
