<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <center>
    <p>
      hello! {{ user }}
    </p>

    <br>  <br>  <br>
    <p>send messege</p>

    {% if status == 'free' %}

  <br>
      <br>
      <p>送信可能な業種</p>
  <br>  <br>
        {% for i in range(length) %}
        <a href="/line/command/send/{{ last[i] }}">{{ nn[i] }}</a>
        <br><br>
        {% endfor %}




      <br><br><br>
      {% elif status == 'using' %}
      <p>現在サーバー使用中です　しばらくお待ちください</p>

      {% else %}
      <p>不明なエラー　運営にお問い合わせください</p>


      {% endif %}

      <br><br><br>
      <a href="/line/command">back</a>

    </form>
  </center>
</body>
</html>
