<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <br><br><br><br><br><br>
    <form action="" method="post">
      <br>
      <p>{{ jap }}</p>
      <p>送信先 / 送信数</p>
      <select name="place">
        {% for i in range(length) %}
        <option value="{{ pl[i] }}">{{ pl[i] }} / {{ dic[pl[i]] }}店舗</option>
        <br>
        {% endfor %}
      </select>
      <br><br>

      <select name="messege">
        {% for i in range(length_m) %}
        <option value="{{ messege[i] }}">{{ title[i] }}</option>
        <br>
        {% endfor %}
      </select>
      <br><br>




      <br><br>
      <button type="submit" class="btn btn-primary btn-block">send messege</button>

    </form>
    <br><br><br>

    <a href="/line/command/send">back</a>

  </center>
</body>

</html>
